# ==================================================
# P08 - CREDIT SCORING DASHBOARD
# DASHBOARD - STREAMLIT
# ==================================================

# ==================================================
# DASHBOARD
# ==================================================

streamlit==1.61.0

# ==================================================
# DATA
# ==================================================

pandas==2.3.3
numpy==2.2.6
pyarrow==24.0.0

# ==================================================
# API
# ==================================================

requests==2.34.2

# ==================================================
# MACHINE LEARNING
# ==================================================

lightgbm==4.7.0
scikit-learn==1.6.1
joblib==1.5.3

# ==================================================
# EXPLAINABILITY
# ==================================================

shap==0.49.1

# ==================================================
# VISUALISATION
# ==================================================

plotly==6.9.0
matplotlib==3.10.9
seaborn==0.13.2

# ==================================================
# SCIENTIFIC COMPUTING
# ==================================================

scipy==1.15.3
numba==0.66.0
llvmlite==0.48.0