# ==================================================
# P08 - CREDIT SCORING DASHBOARD
# API - FASTAPI
# ==================================================

# ==================================================
# API
# ==================================================

fastapi==0.141.1
uvicorn==0.52.1
pydantic==2.13.4

# ==================================================
# DATA
# ==================================================

pandas==2.3.3
numpy==2.2.6
pyarrow

# ==================================================
# MACHINE LEARNING
# ==================================================

lightgbm==4.7.0
scikit-learn==1.6.1
joblib==1.5.3